body {
    background-color: white;
}
h1 {
    h1 {
        margin: auto;
        font-family: sans-serif;
    	margin: 500px;
    	padding: 500px;
    }
p {
    font-family: verdana;
    font-size: 20px;
}
img {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
